.header {
  display: flex;
  gap: 0.5rem;
  color: #ffffff;
  align-items: baseline;
  .arrow {
    width: 20px;
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h1 {
      font-size: 18px;
      font-weight: 400;
      font-family: "Helvetica Neue";
    }
    .subtitle {
      display: flex;
      gap: 0.3rem;
      font-size: 14px;
      font-weight: 300;
      font-family: "Mark Simonson";
      .line {
        width: 1px;
        background-color: #ffffff;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .header {
    gap: 1.5rem;
    .arrow {
      width: 28px;
    }
    .title {
      gap: 1rem;

      h1 {
        font-size: 28px;
      }
      .subtitle {
        font-size: 18px;
        gap: 0.8rem;
      }
    }
  }
}
