.results {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .segment {
    display: none;
  }
  .imgs {
    display: none;
  }
  .btnBox {
    display: flex;
    justify-content: flex-end;
    .filterBtn {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      background-color: #1a1635;
      color: #fff;
      font-size: 16px;
      border-radius: 8px;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

  }
  .tags{
    display: flex;
      .tag{
        background-color: #0A8BEC;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 14px;

        gap: 0.3rem;
        border-radius: 20px;
        border: none;
        padding: 0.3rem 0.8rem;
      }
    
  }
}
  @media only screen and (min-width: 768px) {
    .results {
      .segment {
        display: flex;
        justify-content: center;
      }
      .imgs {
        display: flex;
        justify-content: center;
      }
     
      .btnBox {
        .filterBtn {
          display: none;
        }
      }
     .tags{
      display: none;
     }
    }
  }
